.chat {
  input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .lobbyinput {
    display: inline;
    input {
      width: auto;
    }
  }
  form {
    margin: 30px 0;
    :global(.btn) {
      margin-left: 10px;
    }
  }
  td {
    vertical-align: middle !important;
  }
}
